
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Dancing+Script:wght@500;600&family=Noto+Sans+KR:wght@300;400;500;700&family=Noto+Serif+KR:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 18px;
    color: #333;
    font-family: 'Noto Sans KR', sans-serif;
}
h1{
    font-family:'Dancing Script', cursive;
}
b{
    font-family: 'Noto Serif KR', serif;
    font-size: 24px;
    margin-bottom: 20px;
    display: block;
}

.wrapper{
    width: 100%;
    height: 100%;
}
.header{
    width: 100%;
    height: 300px;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    padding-top: 50px;
    border-bottom: 1px solid #808080;
    background-color: #536f87;
}
.header h1{
    color: #fff;
    font-size: 40px;
}
.header .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.header .menu li{
    margin: 0 30px;
    cursor: pointer;
    color: #fff;
}

.contents{
    display: none;
    padding: 50px;
}
.contents:nth-child(1){
    display: flex;
    padding: 0;
}




/* Introduce */

#Introduce{
    flex-wrap: wrap;
}

.profile  {
    /* background-color:#efe7db; */
    background-color:#f7f7f7;
    width : 20%;
    min-width: 200px;
    height : 850px;
    padding: 30px;
}

.profile article {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom : 10%;
}
.profile .text p{
    font-weight: bold;
    text-align: center;
}
.profile article img{
    width : 60%;
    height : 40%
}
.profile b {
    text-align: center;
    font-weight: bold;
    width: 100%;
    display: block;
}
.profile p {
    font-size: 14px;
    white-space: nowrap;
    margin-bottom: 10px;
}
.profile ul{
    margin: 15px 0 20px;
}
.profile  li{
    display : flex;
    text-align: left;
}
.profile  li p{
    font-size: 14px;
}
.profile  li span{
    display: inline-block;
    font-weight: bold;
    min-width: 90px;   
    font-size : 15px;
}
.profile  li a{
    font-size : 15px;   
}


.introduce {
    border-bottom: 1px solid #808080;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    min-width: 700px;
    padding: 50px;
}
.introduce .box {
    width: 50%;
}
.introduce .box b{
    font-size : 24px;
}
.introduce  .box li{
    display : flex;
    text-align: left;
}

.introduce  li p{
    margin : 0 5px 8px;
    font-size: 17px;
}

.introduce  li span{
    display: inline-block;
    min-width: 100px;
}





.cap{

    width : 100%;
    justify-content: center;
    display: flex;


}

/* capabilities */
.capabilities{
    padding: 50px 50px 0;
    width: 100%;
}

.capabilities b{
    text-align: center; 
    margin-bottom: 30px;
}

.capabilities article{
    display: flex;
    justify-content: space-around;

}
.capabilities div{
    padding-right : 10px;
}
#myChart1, #myChart2,#myChart3{
    width: 300% !important;
    height: 300px !important;
    cursor: pointer;
}

.capabilities .bar-chart > div{
    margin-bottom: 50px;
}
.capabilities .chart-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.capabilities .bar-chart b{
    font-size: 20px;
}
.capabilities .chart-box p{
    font-size: 14px;
    width: 130px;
}
.capabilities .chart-box span{
    margin-left: 0px;
    font-size: 14px;
    margin-left: 10px;
    
}
.capabilities .bar-chart .bar-bg{
    width: 250px;
    height: 8px;
    background-color: #c5c5c5;
    position: relative;
}
.capabilities .bar-chart .bar-bg .bar{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: red;
}




/* 2페이지 */

.research {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.research .research-box1 {
    width: 100%;
    border-bottom: 1px solid #808080;
    padding-bottom: 50px;
}
.research .research-box2 {
    width: 100%;
    border-bottom: 1px solid #808080;
    padding: 50px;
}
.research .research-box3 {
    width: 100%;
    padding: 50px;
}

.research li{
    display : flex;
    text-align: left;
}

.research li p{
    margin : 0 5px 8px
}

.research li span{
    display: inline-block;
    min-width: 100px;
    margin-left: 30px;
    font-weight: 600;
}

.research article {
    display : flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.research article div{
    width : 48%;
    margin: 1%;
}
.research article img,
.research article p{
    width: 100%;
    text-align: center;
    white-space: nowrap;
}




/* 3페이지 */
.univer {
    display: flex;
    flex-wrap : wrap;
}
.univer li{
    display : flex;
    text-align: left;
}
.univer li p{
    margin : 0 5px 8px
}

.univer li span{
    display: inline-block;
    min-width: 100px;
    padding-left: 2%;
}

.awarduniv {
    width :100%;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-between;
}
.awarduniv li p{
    white-space: nowrap;
}
.awarduniv b{
    width: 100%;
}

.awarduniv article {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
}
.awarduniv article div{
    width : 23%;

    margin: 1%;
}
.awarduniv article img{
    width: 100%;
    text-align: center;
    white-space: nowrap;
    height : 250px;
    font-size : 14px
}
.awarduniv article p{
    width: 100%;
    text-align: center;
    white-space: nowrap;
    font-size : 14px
}

.university{
    display: flex;
    justify-content: space-between;
}
.university ul+b{
    margin-top: 50px;
}
.university ul li{
    white-space: nowrap;
}
.university ul li span,
.university ul li p{
    min-width: 180px;
}
.lists{
    width: 40%;
}
.subject {
    width : 60%;
    align-items: center;
}
.subject b{
    width: 100%;
    text-align: center;
}
.subject .subject_wrap{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subject .subject_wrap div{
    width: 200px;
    height: 60px;
    margin: 5px;
    font-size: 16px;
    line-height: 55px;
    text-align: center;
    border: 2px solid #d9d9d9;
    background: linear-gradient(
        -45deg,
        #fefefe 0 calc(50% - 10px),
        #F5F5F5 calc(50% - 10px) calc(50% + 10px),
        #e8e8e8 calc(50% + 10px) 100%
    );
    background-size: 250% 100%;
    background-position: 100% 50%;
    transition: all 0.3s;
}
  
.subject .subject_wrap div:hover {

    background-position: 0% 50%;
}


/* 4페이지 */

.python {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.python .python-box1 {
    width: 100%;
    border-bottom: 1px solid #808080;
    padding-bottom: 50px;
}
.python .python-box2 {
    width: 100%;
    border-bottom: 1px solid #808080;
    padding: 50px 0;
}
.python .python-box3 {
    width: 100%;
    border-bottom: 1px solid #808080;
    padding: 50px 0;
}

.python h2{
    font-size : 30px;

    margin-top : 1%;
    margin-bottom : 2%;
    margin-left : 1%
}
.python li{
    display : flex;
    text-align: left;

}

.python li p{
    margin : 0 5px 8px
}

.python li span{
    display: inline-block;
    min-width: 100px;
    margin-left: 2%;
}

.python article {
    display : flex;
    text-align: center;
}

.python img {
    margin-top: 2%;
    max-width: 48%;
    
    margin-left :2%;
    margin-bottom : 2%;
}

/* 5페이지 */

.pythoncrawl {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.pythoncrawl > div {
    width: 23%;
    margin: 1%;
    display : flex;
    padding-bottom: 50px;
    cursor: pointer;
    display : flex;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.pythoncrawl video{
    width: 100%;
}